!!! 5
html
    head
        title Rova
        script(src='/static/js/main.js')
        link(rel="stylesheet", type="text/css", href="/static/css/rova.css")
        script.
            window.bootstrap = bootstrap;
    body
        .content
